@model DND_Demo.Models.Dndmembers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dndmembers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dndname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dndname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FavoriteTvseries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FavoriteTvseries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dndclass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dndclass.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
